
  <div class="card-deck">
    <div class="card col-md-4">
      <div class="card-body">
        <h5 class="card-title">Purpose</h5>
        <p class="card-text">Enter code and submit it, See immediately if code is valid, See error if the user entering the code isn't the user that received the code, See history of codes submitted and what events they were for.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card col-md-4">
      <div class="card-body">
        <h5 class="card-title">See all codes</h5>
        <p class="card-text">Codes get processed once a week</p>
      </div>
      <div class="card-footer"><small class="text-muted">
        <a><%= link_to "See codes", codes_path %></a>
      </div>
    </div>

    <div class="card col-md-4">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Codes that cannot be automatically approved will need to be reviewed and approved manually</p>
      </div>
      <div class="card-footer">
        <a class="text-muted"><%= link_to "Code approvals", approvals_path %></a>
      </div>
    </div>

  </div>
