
<div class="row">
	<div class="col-md-12">
	<p>Purpose: To allow showtime users to enter their received claim codes. This will include:</p>
		<ul>
			<li>Enter code and submit it</li>
			<li>See immediately if code is valid</li>
			<li>See error if the user entering the code isn't the user that received the code</li>
			<li>See history of codes submitted and what events they were for</li>
		</ul>
	</div>
</div>
