<h2>Enter the bookings details below</h2>

<p>When you submit the details, a claim code will be generated and the eligibility of the booking will be calculated.</p>
<br>
<%= render 'form' %>

<%= link_to 'Back to codes list', codes_path %>

