<h3>Codes</h3>

<p>
	<strong>Code:</strong>
	<%= @code.code %>
</p>



<%= link_to 'Edit', edit_code_path(@code) %>
<%= link_to 'Back to codes list', codes_path %>
<%= link_to 'Add another code', new_code_path %>
